<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budgeting Quiz</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/script.js" defer></script>
</head>
<body>
    <h1>Budgeting Game</h1>
    <div id="market-stalls"></div>
    <div id="cart-items"></div>
    <div>
        <strong id="budget-amount">KES 0</strong>
        <br>
        Total Spent: <span id="total-cost">0</span>
    </div>
    <button onclick="checkOut()">Checkout</button>
</body>
</html>

