.main {
  padding: 20px;
  font-family: Arial;
  box-shadow: 5px 5px 7px 5px #8888;
  width: 60%;
  margin-left: 20%;
  margin-top: 7%;
}

.main h1 {
  font-size: 36px;
  text-align: center;
  font-family: Arial;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 20px;
  padding: 12px 20px;
  margin: 8px;
  border: none;
  border-bottom: 2px solid #764776;
}

input[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  background-color: #764776;
  border: none;
  color: white;
  padding: 16px 32px;
  margin: 4px 2px;
  border-radius: 10px;
}
