*,
*::after,
*::before{
    box-sizing: border-box;

}

h1,
h2,
h3{
    margin: 0;
}

img{
    max-width: 100%;
}


/* Custome Properties */

:root{
    --ff-plus-sans:"Plus Jakarta Sans", sans-serif;

    /* colors */
    --clr-dark-purple:#3C096C;
    --clr-light-purple:#5A189A;
    --clr-txt:#fff;
    --clr-txt-dark: #828fa3;
    --clr-brand:#8332e9;

    /* font sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;
    --fs-200: 0.75rem;



    --sidebar-width:280px;
}


body{
    font-family: var(--ff-plus-sans);
    margin:0;
    padding: 2rem;
    background-color: #f4f7fd;
}

/* Components */


.flex{
    display: flex;
    gap: 2em;
}

.grid{
    display: grid;
    gap:2em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}



/* General css */


/* ====Colors====== */

.bg-white{ background-color:var(--clr-txt);}
.bg-purple{ background-color:var(--clr-dark-purple);}
.bg-light-purple{ background-color:var(--clr-light-purple)}

.text-white{ background-color:var(--clr-txt);}
.text-purple{ background-color:var(--clr-dark-purple);}
.text-light-purple{ background-color:var(--clr-light-purple)}

.capitalize{text-transform: capitalize;}

ul{
    margin: 0;
    padding: 0;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;

}






/* Header */

header{
    border-bottom: 1.5px solid var(--clr-txt-dark);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 2em 0;
    margin: 0;
    /* test font sizes */
    font-size: .9rem;
    font-weight: 500;
    letter-spacing: 1.6;
   
}


nav{
    align-items: center;
    margin-bottom: 4em;
   
}
nav :nth-child(1){
    width: 50px;
}
nav :nth-child(2){
    margin-left: 5em;
}

.mobile-nav-toggle{
    background: transparent;
    background-image: url(/templates/images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;

}

.mobile-nav-toggle[aria-expanded='true']{
    background-image:url(/templates/images/icon-close.svg);
}

.mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
}

/* main css */

main{
    position: relative;
    top: 100px ;
}


/* side bar css */

.sidebar{
    border-right: 1.5px solid var(--clr-txt-dark);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 100px;
    width: 80%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
}

.sidebar[data-visible ='true']{
    transform: translateX(0);
}

#chat-output [class="c-iCDrnV"] {
    display: none !important;
}


.menu{
    flex-direction: column;
    align-items: flex-start;
    margin: 1em 0;
    gap:1em;

}

.link{
    padding:1rem;
    width: 90%;
    text-align: left;
    max-width: 200px;
    background: transparent;
    border: 0;
    color: var(--clr-txt-dark);
    border-top-right-radius:4rem;
    border-bottom-right-radius: 4rem;

    /* test font */
    font-size: 1.5rem;

}

.link:hover{
    background: var(--clr-light-purple);
    color: var(--clr-txt);
}

.curent-active{
    background-color: var(--clr-dark-purple);
  
    
}


.dropdown{
    position: relative;
   
}

.submenu{
    flex-direction: column;
    gap: 1em;
}


.dropdown.active > .link,
.dropdown > .link {
    color: var(--clr-txt);
}

.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-color:var(--clr-dark-purple);
    width: 100%;
    padding: .75rem;
    border-radius: .25rem ;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu > .submenu .link{
  
    width: 100%;
    text-decoration: none;
    margin: 0;
    padding:0;
    color:var(--clr-txt);
}

.dropdown.active > button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* chat bot styles */
.chat-container,
.chat-main-box{
    background-color: #f4f7fd;
}



@media(min-width:45em){
    .comletebox{
        --big-logo:url(/templates/images/logo2.svg);
        background-image: var(--big-logo);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        left: 0;
        top: 0;
        border-right: 1.5px solid var(--clr-txt-dark);
        width: var(--sidebar-width);
        height: 100px;
    }
    nav{
        display: block;
        margin: 0 0;
         
    }

    header{
      text-align:left;
       
    }
    .logo,
    .mobile-nav-toggle{
        display: none;
    }
    .hero-heading{
        margin-left:calc(var(--sidebar-width) + 2em);  
        
    }

    .sidebar{
        width:var(--sidebar-width) ;
    } 

    .chat-main-box {
        max-width: calc(100% - var(--sidebar-width));
        margin-left: var(--sidebar-width); 
    }

    .chat-container{
        max-width: 900px;
        margin: 0 auto;
    }
    
}

