*,
*::after,
*::before{
    box-sizing: border-box;

}

h1,
h2,
h3{
    margin: 0;
}

img{
    max-width: 100%;
}


/* Custome Properties */

:root{
    --ff-plus-sans:"Plus Jakarta Sans", sans-serif;

    /* colors */
    --clr-dark-purple:#3C096C;
    --clr-light-purple:#5A189A;
    --clr-txt:#fff;
    --clr-txt-dark: #828fa3;
    --clr-brand:#8332e9;

    --clr-blue:#3d82e2;
    

    /* font sizes */
    --fs-900: clamp(.8rem, 1vw,.9rem);
    --fs-800: clamp(1rem,1vw + .5rem,1.5rem);
    --fs-700:clamp(1rem,2vw,1.5rem);
 
    /* fixed widths */
    --sidebar-width:280px;
}


body{
    font-family: var(--ff-plus-sans);
    font-size: var(--fs-700);
    margin:0;
    background-color: #f4f7fd;
}

/* Components */


.flex{
    display: flex;
    gap: 2em;
}

.grid{
    display: grid;
    gap:2em;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; 
    border: 0;
}

.content-grid {
    --padding-inline: 1rem;
    --content-max-width: 1000px;
    --breakout-max-width: 1200px;
  
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );
  
    display: grid;
    grid-template-columns:
      [full-width-start] minmax(var(--padding-inline),1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [full-width-end];
  }
  
  .content-grid > :not(.breakout, .full-width),
  .full-width > :not(.breakout, .full-width) {
    grid-column: content;
  }
  
  .content-grid > .breakout {
    grid-column: breakout;
  }
  
  .content-grid > .full-width {
    grid-column: full-width;
  
    display: grid;
    grid-template-columns: inherit;
  }



/* General css */


/* ====Colors====== */

.bg-white{ background-color:var(--clr-txt);}
.bg-white{ background-color:var(--clr-blue);}
.bg-purple{ background-color:var(--clr-dark-purple);}
.bg-light-purple{ background-color:var(--clr-light-purple)}

.text-white{ background-color:var(--clr-txt);}
.text-purple{ background-color:var(--clr-dark-purple);}
.text-light-purple{ background-color:var(--clr-light-purple)}

.capitalize{text-transform: capitalize;}

ul{
    margin: 0;
    padding: 0;
}
li{
    padding: 0;
    margin: 0;
    list-style: none;

}






/* Header */

header{
    border-bottom: 1.5px solid var(--clr-txt-dark);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 2em 0;
    margin: 0;
  
}

.hero-intro{
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 888;
    font-size: var(--fs-900);
    color: var(--clr-txt);
    
}

nav{
    align-items: center;
}

.mobile-nav-toggle{
    background: transparent;
    background-image: url(../images/icon-hamburger.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    max-width: 3rem;
    aspect-ratio: 1;
    border: 0;

}

.mobile-nav-toggle[aria-expanded='true']{
    background-image:url(../images/icon-close.svg);
}

.mobile-nav-toggle:focus-visible {
    outline: 5px solid white;
    outline-offset: 5px;
}

.logo{
    background-image: url(../images/logo3.svg);
    width:50%;
    height: 50px;
    background-repeat: no-repeat;
    background-position:center;
  
}

/* main css */

main{
    position: relative;
    top: 150px ;
}


/* side bar css */

.sidebar{
    border-right: 1.5px solid var(--clr-txt-dark);
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 100px;
    width: 80%;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
    
}

.sidebar[data-visible ='true']{
    transform: translateX(0);
}


.menu{
    flex-direction: column;
    align-items: flex-start;
    margin: .3em 0;
    gap:.9em;

}

.link{
    padding:1rem;
    width: 90%;
    text-align: left;
    max-width: 200px;
    background: transparent;
    border: 0;
    color: var(--clr-txt);
    font-size: var(--fs-800);
    border-top-right-radius:4rem;
    border-bottom-right-radius: 4rem;
}

.link:hover{
    background: var(--clr-light-purple);
    color: var(--clr-txt);
}

.curent-active{
    /* background-color: var(--clr-dark-purple); */
  
    
}


.dropdown{
    position: relative;
   
}

.submenu{
    flex-direction: column;
    gap: .5em;
}


.dropdown.active > .link,
.dropdown > .link {
    color: var(--clr-txt);
}

.dropdown-menu {
    --left-pad:3rem;
    position: absolute;
    left:var(--left-pad);
    top: 100%;
    /* top: calc(100% + .25rem); */
    background-color:var(--clr-txt);
    /* border: 1px solid red; */

    width:100%;
    padding: .75rem;
    border-radius: .25rem ;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

/* .dropdown-menu > *{
    color: red;
} */

.dropdown-menu > .submenu .link{
    width: 100%;
    text-decoration: none;
    margin: 0;
    padding:0;
    /* color: red; */
    color:var(--clr-txt);
    border: 1px solid darkblue;
    background-color: maroon;
    padding:.2em;
    border-radius: .6rem;
    text-align: center;
    background:var();
   
}

.dropdown.active > button + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

/* logout and profile  */

.profile{
    flex-direction:column-reverse;
    border-top: 1px solid var(--clr-txt-dark);
    gap: .3em;
    width: 100%;
    /* margin: 0 auto; */
}

.profile-btn{
    padding: .6em;
    align-items: center;
    border: none;
    background:none;
    /* border-top-right-radius:4rem;
    border-bottom-right-radius: 4rem; */
}

.profile-img,.logout-logo{
    aspect-ratio: 1;
    align-content: center;
    padding-inline:.6rem;
      
}

.profile-img{
    background: var(--clr-dark-purple);
    color: var(--clr-txt);
    border-radius: 50%; 
}

.profile-text{
    font-size: var(--fs-800);
    color: var(--clr-txt);
    padding: .3rem;
}


/* chat bot styles */
.chat-container,
.chat-main-box{
    background-color: #f4f7fd;
    
}



@media(min-width:45em){
    .comletebox{
        --big-logo:url(../images/logo2.svg);
        background: var(--clr-txt);
        background-image: var(--big-logo);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        position: fixed;
        left: 0;
        top: 0;
        border-right: 1.5px solid var(--clr-txt-dark);
        width: var(--sidebar-width);
        height: 100px;
    }
    nav{
        display: block;
        margin: 0 0;
         
    }

    header{
      text-align:left;
       
    }
    .logo,
    .mobile-nav-toggle{
        display: none;
    }
    .hero-intro{
        height: 100px;
        top:0;
        z-index:999;
        
    }
    .hero-heading{
        display:block;
        margin-left:calc(var(--sidebar-width) + 2em); 
        margin-top: 1em; 
        
    }

    .sidebar{
        /* border: 2px solid yellow; */
        width:var(--sidebar-width) ;
        /* background-color: var(--clr-txt); */
    } 

    .chat-main-box {
        position: absolute;
        height: 100vh;
       border: 1px solid red;

        width: 100%;
        max-width: calc(100% - var(--sidebar-width));
        margin-left: var(--sidebar-width); 
    }

    .chat-container{
        margin: 0 auto;
    }
    
}

