<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iwazolab Chatbot</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		
	</style>
</head>
<body>
    <div id="sidebar">
    <h1>Welcome to Finlingo your AI-powered Financial literacy partner</h1>
    <ul class="menu">
        <li>
            <a href="#">Gamification</a>
            <ul class="submenu">
                <li><a href="budgetingquiz.html">Budgeting</a></li>
                <li><a href="#">Investment</a></li>
                <li><a href="#">Fintechs</a></li>
                <li><a href="#">Insurtech</a></li>
                <li><a href="#">Regtech</a></li>
            </ul>
        </li>
        <li><a href="taxacademy.html">Tax Academy</a>
	    <ul class="submenu">
                <li><a href="#">Tax Trivia</a></li>
	    </ul>
	</li>
        <li><a href="#">Points & Badges</a></li>
        <li><a href="#">Financial News</a></li>
	<li><a href="#">Challanges and Quizzes</a></li>
	<li><a href="#">Financial Health Score</a></li>
    </ul>
</div>
    <header>
        <button onclick="location.href='signin.html'">Sign In</button>
        <button onclick="location.href='signup.html'">Sign Up</button>
    </header>
	<div id="chat-container">
        <div id="chat-output"></div>
    	</div>
        <!-- Chatbot script -->
    <script type="text/javascript">
  (function(d, t) {
      var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
      v.onload = function() {
        window.voiceflow.chat.load({
          verify: { projectID: '6620ccdab510a5beecdf2d13' },
          url: 'https://general-runtime.voiceflow.com',
          versionID: 'production',
            render: {
		mode: 'embedded',
		target: document.getElementById('chat-container'),
	},
	autostart: false
        });
      }
      v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
  })(document, 'script');
</script>
</body>
</html>

