<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/landing.css" />
  </head>
  <body>
    <nav class="my-nav">
      <div class="my-logo">
        <img class="logo-pic" src="./images/finlogo2.png" />
      </div>
      <div class="my-links">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="./index.html">Our Products</a></li>
          <li><a href="./signup.html">Sign up</a></li>
          <li><a href="./signin.html">log in</a></li>
        </ul>
      </div>
    </nav>
    
    <!--header-->
    <div class="header">
      <div class="header-content">
        <h2 class="hero-title">
          Financial Literacy made accessible. Get precise answers to the most
          complex tax questions in seconds
        </h2>

        <button type="submit" class="hero-btn">Explore our Products</button>
      </div>
    </div>

    <!--Stats-->
    <div class="stats">
      <div class="stat">
        <h4 class="stat-h">Active users</h4>
        <h1 class="stat-no">13,000</h1>
        <p>bar</p>
      </div>
      <div class="stat">
        <h4 class="stat-h">Active users</h4>
        <h1 class="stat-no">13,000</h1>
        <p>bar</p>
      </div>
      <div class="stat">
        <h4 class="stat-h">Active users</h4>
        <h1 class="stat-no">13,000</h1>
        <p>bar</p>
      </div>
    </div>

    <!--products-->
    <div class="prods">
      <div class="prod">
        <img src="./images/question.png" alt="" class="prod-pic" />
        <h2 class="prod-h">Ask your Questions</h2>
        <p class="prod-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
          rem iusto, veniam possimus sit aliquam accusantium. Dignissimos
          cupiditate ipsa est.
        </p>
      </div>
      <div class="prod">
        <img src="./images/learn.png" alt="" class="prod-pic" />
        <h2 class="prod-h">Learn about Taxes</h2>
        <p class="prod-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
          rem iusto, veniam possimus sit aliquam accusantium. Dignissimos
          cupiditate ipsa est.
        </p>
      </div>
      <div class="prod">
        <img src="./images/test.png" alt="" class="prod-pic" />
        <h2 class="prod-h">Test Your Knowledge</h2>
        <p class="prod-p">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
          rem iusto, veniam possimus sit aliquam accusantium. Dignissimos
          cupiditate ipsa est.
        </p>
      </div>
    </div>
  </body>
</html>
